<scrollView>
  <StackLayout backgroundColor="#246AD1">
    <label text="Welcome back" class="title-text" margin="92, 0, 0, 16"></label>

    <label text="Email" class="login-fields" margin="32, 16, 0, 16"></label>
    <TextField
      #email
      hint="name@mail.com"
      keyboardType="email"
      returnKeyType="next"
      autocorrect="false"
      maxLength="20"
      [(ngModel)]="user.email"
      class="edit-text"
    >
    </TextField>

    <label text="Password" class="login-fields" margin="32, 16, 0, 16"></label>
    <TextField
      #password
      hint="Your password"
      returnKeyType="done"
      autocorrect="false"
      secure="true"
      maxLength="20"
      [(ngModel)]="user.password"
      class="edit-text"
    >
    </TextField>

    <label
      text="Forgot password?"
      class="accent-text"
      margin="16, 0, 0, 16"
      (tap)="forgotPassword()"
    ></label>

    <button
      text="Login"
      class="button"
      margin="76, 16, 0, 16"
      (tap)="submit()"
      [isEnabled]="!!validateLoginFields()"
    ></button>

    <FlexboxLayout margin="24" horizontalAlignment="center">
      <label text="Don't have an account? " class="normal-text"></label>
      <label text="Sign Up" class="accent-text" (tap)="signUp()"></label>
    </FlexboxLayout>
  </StackLayout>
</scrollView>
