@use "../../app.scss" as main;

.page {
  background-color: main.$background-blue-color;
}

.login-fields {
  @extend .normal-text;
  font-size: 13;
}

.login-fields-error {
  @extend .login-fields;
  color: main.$accent-orange;
}

.edit-text {
  font-size: 19;
  max-lines: 1;
  color: white;
  placeholder-color: #a7c1ea;
  border-bottom-color: white;
  border-bottom-width: 2;
  border-spacing: 20;
}

.edit-text:focus {
  border-bottom-color: main.$accent-green;
}

.edit-text-error {
  @extend .edit-text;
  border-bottom-color: main.$accent-orange;
}

.edit-text-error:focus {
  border-bottom-color: main.$accent-orange;
}

.error-icon {
  @extend .avenir-heavy;
  font-size: 16;
  color: white;
}
