@use "../../app.scss" as main;

.page {
    background-color:rgb(216, 216, 239);
}


TabStripItem {
    background-color: #6200EE;
    color: #FFFFFF;
}

TabStripItem {
    color: #5c19c0;
    font-size: 12;
}

TabStripItem:active {
    color: #FFFFFF;
}

TabStripItem Image {
    font-size: 36;
}