<TabView
  [selectedIndex]="selectedIndex"
  androidTabsPosition="bottom"
  androidSelectedTabHighlightColor="#ffffff"
  iosIconRenderingMode="alwaysOriginal"
  (selectedIndexChanged)="tabViewIndexChange($event)"
>
  <GridLayout *tabItem="homeTab">
    <page-router-outlet name="homeTab"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="notificationsTab">
    <page-router-outlet name="notificationsTab"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="dashboardTab">
    <page-router-outlet name="dashboardTab"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="rewardsTab">
    <page-router-outlet name="rewardsTab"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="settingsTab">
    <page-router-outlet name="settingsTab"></page-router-outlet>
  </GridLayout>
</TabView>