<Page
  xmlns="http://schemas.nativescript.org/tns.xsd"
  xmlns:ch="@nativescript-community/ui-chart"
>
  <GridLayout rows="auto, auto, *" columns="*" class="page">
    <StackLayout row="0" , col="0">
      <FlexboxLayout padding="68, 20, 0" class="header">
        <label text="Total Balance" class="balance-title"></label>
        <label text="+10,31%" class="balance-change" margin="0, 8"></label>
      </FlexboxLayout>

      <FlexboxLayout padding="4, 16, 0" class="header">
        <label text="22,166" class="balance-value"></label>
        <label text="USD" class="balance-currency" margin="0, 8"></label>
      </FlexboxLayout>

      <StackLayout class="chart">
        <LineChart
          (loaded)="onChartLoaded($event)"
          height="135"
          margin="0, 8, 24"
          class="line-chart"
        >
        </LineChart>
      </StackLayout>
    </StackLayout>

    <GridLayout row="1" col="0" columns="*, auto" rows="auto, auto">
      <label
        text="My wallets"
        class="wallets-title"
        margin="24, 16, 0, 16"
      ></label>
      <Image
        src="res://icn_add"
        col="1"
        verticalAlignment="center"
        margin="27, 16"
        (tap)="addWallet()"
      ></Image>
    </GridLayout>

    <ScrollView row="2" col="0" orientation="vertical">
      <ListView row="0" col="0" [items]="wallets" (itemTap)="onItemTap($event)">
        <ng-template let-wallet="item">
          <GridLayout
            class="list-wallet"
            columns="auto, *, *, auto"
            rows="*, *"
            margin="0, 16"
            height="72"
          >
            <Image
              row="0"
              col="0"
              rowSpan="2"
              [src]="wallet.iconUrl"
              width="40"
              height="40"
              margin="0, 16"
              verticalAlignment="center"
            ></Image>

            <StackLayout row="0" col="1" rowSpan="2" verticalAlignment="center">
              <label
                [text]="wallet.name"
                class="card-title"
              ></label>
              <label
                [text]="wallet.change + '%'"
                [ngClass]="{
                  'value-reduction': wallet.change < 0,
                  'value-increase': wallet.change >= 0
                }"  
              ></label>
            </StackLayout>

            <StackLayout row="0" col="2" rowSpan="2" verticalAlignment="center">
              <label
                [text]="wallet.totalBalance + ' ' + wallet.shortName"
                class="card-value"
                horizontalAlignment="right"
              ></label>
              <label
                [text]="'$' + wallet.currentCost"
                class="card-total-cost"
                horizontalAlignment="right"
              ></label>
            </StackLayout>

            <Image
              row="0"
              col="3"
              rowSpan="2"
              src="res://icn_arrow"
              width="7"
              height="12"
              margin="0, 16"
              verticalAlignment="center"
            ></Image>
          </GridLayout>
        </ng-template>
      </ListView>
    </ScrollView>
  </GridLayout>
</Page>
