<StackLayout class="page">
  <label text="Settings" class="header" padding="92, 16, 20"></label>

  <ScrollView orientation="vertical">
    <StackLayout>

  <DockLayout class="clickable-item" margin="24, 0" stretchLastChild="true">
    <Image dock="left" src="~/app/images/avatar_sample.jpg" stretch="aspectFill" class="circle-image" margin="14, 0, 14, 16"></Image>
    <label dock="right" text="&#xf054;" class="navigate-next-icon" margin="0, 16" verticalAlignment="center"></label>
    <label dock="top" text="Lera Ovcharenko" class="user-name" margin="11, 0, 0, 16"></label>
    <label dock="bottom" text="lera.ovcharenko@agilie.com" class="user-email" margin="0, 0, 11, 16"></label>
  </DockLayout>

  <Label text="Security" class="settings-block-title" margin="0, 16, 16, 16"></Label>

  <GridLayout class="clickable-item" columns="*, auto" rows="auto, auto, auto, auto, auto">
    <label text="Change password" col="0" row="0" margin="23, 0, 23, 16" class="settings-title"></label>
    <label text="&#xf054;" col="1" row="0" class="navigate-next-icon" margin="0, 16" verticalAlignment="center"></label>
    <StackLayout class="divider" col="0" colSpan="2" row="1" margin="0, 16"></StackLayout>

    <label text="Passcode" col="0" row="2" margin="23, 0, 23, 16" class="settings-title"></label>
    <label text="&#xf054;" col="1" row="2" class="navigate-next-icon" margin="0, 16" verticalAlignment="center"></label>
    <StackLayout class="divider" col="0" colSpan="2" row="3" margin="0, 16"></StackLayout>

    <label text="Backup" col="0" row="4" margin="23, 0, 24, 16" class="settings-title"></label>
    <label text="&#xf054;" col="1" row="4" class="navigate-next-icon" margin="0, 16" verticalAlignment="center"></label>
  </GridLayout>

    <Label text="Support" class="settings-block-title" margin="24, 16, 16, 16"></Label>

  <GridLayout class="clickable-item" columns="*, auto" rows="auto, auto, auto, auto, auto, auto, auto">
    <label text="Help" row="0" col="0" margin="23, 0, 23, 16" class="settings-title"></label>
    <label text="&#xf054;" row="0" col="1" class="navigate-next-icon" margin="0, 16" verticalAlignment="center"></label>
    <StackLayout class="divider" row="1" col="0" colSpan="2" margin="0, 16"></StackLayout>

    <label text="Contact us" row="2" col="0" margin="23, 0, 23, 16" class="settings-title"></label>
    <label text="&#xf054;" row="2" col="1" class="navigate-next-icon" margin="0, 16" verticalAlignment="center"></label>
    <StackLayout class="divider" row="3" col="0" colSpan="2" margin="0, 16"></StackLayout>

    <label text="Chat" row="4" col="0" margin="23, 0, 24, 16" class="settings-title"></label>
    <label text="&#xf054;" row="4" col="1" class="navigate-next-icon" margin="0, 16" verticalAlignment="center"></label>
    <StackLayout class="divider" row="5" col="0" colSpan="2" margin="0, 16"></StackLayout>

    <label text="Terms and Conditions" row="6" col="0" margin="23, 0, 24, 16" class="settings-title"></label>
    <label text="&#xf054;" row="6" col="1" class="navigate-next-icon" margin="0, 16" verticalAlignment="center"></label>
  </GridLayout>

  <label text="Log out" padding="23, 16" margin="23, 0, 0" class="log-out"></label>
  <label text="App version: 6.17.0 (9872)" margin="11, 16, 22" class="version"></label>

  </StackLayout>
  </ScrollView>

</StackLayout>

